.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.rose {
  min-width: 400px;
  max-width: 600px;
  border: gray solid 2px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
}